body{
font-family:system-ui;
margin:0;
background:#F7F9FC;
color:#222;
}


/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
border-bottom:1px solid #eee;
}

.logo{
display:flex;
gap:10px;
font-weight:600;
font-size:20px;
}

nav a{
margin-left:20px;
color:#666;
text-decoration:none;
}


/* HERO */

.hero{
text-align:center;
padding:140px 20px;
background:white;
}

.badge{
display:inline-block;
background:#eaf2ff;
padding:6px 14px;
border-radius:20px;
color:#2d6cff;
margin-bottom:20px;
}

.hero h1{
font-size:56px;
max-width:800px;
margin:auto;
margin-bottom:20px;
}

.hero p{
color:#666;
max-width:600px;
margin:auto;
margin-bottom:30px;
}

.hero-buttons{
display:flex;
gap:15px;
justify-content:center;
}

.primary{
background:#3b82f6;
color:white;
padding:16px 30px;
border-radius:10px;
border:none;
}

.secondary{
background:white;
border:1px solid #ddd;
padding:16px 30px;
border-radius:10px;
}



/* INPUT */

.input-section{
padding:120px 20px;
text-align:center;
}

textarea{
width:600px;
max-width:90%;
height:160px;
padding:20px;
border-radius:12px;
border:1px solid #ddd;
margin-top:20px;
margin-bottom:20px;
}

.rewrite{
padding:14px 30px;
background:#3b82f6;
color:white;
border:none;
border-radius:10px;
}



/* EXAMPLES */

.examples{
padding:120px 20px;
background:white;
text-align:center;
}

.example-grid{
display:flex;
gap:20px;
justify-content:center;
margin-top:40px;
}

.card{
width:220px;
padding:20px;
border-radius:12px;
border:1px solid #eee;
background:white;
}



/* FOOTER */

footer{
text-align:center;
padding:60px 20px;
background:white;
border-top:1px solid #eee;
}